<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gavin.mybatis.mapper.blogMapper">

	<select id="selectBlog_by_id" parameterType="int" resultType="Blog">
		select id,title,author_id as authorId from blog where id = #{id}
	</select>
	
	<!-- <select id="selectBlog_by_id" parameterType="int" resultMap="blogResult">
		select id,title,author_id from blog where id = #{id}
	</select> -->
	
	<resultMap type="Blog" id="blogResult">
		<id property="id" column="id"/>
		<result property="title" column="title"/>
		<result property="authorId" column="author_id"/>
	</resultMap>
	
	<!-- 拓展resultMap -->
	<resultMap type="Blog" id="extendsBlogResult">
		<result property="address" column="address"/>
	</resultMap>
	
	<select id="selectBlog_by_id_Map" parameterType="HashMap" resultType="Blog">
		select id,title,author_id as authorId from blog where id = #{id}
	</select>
	
	<select id="selectBlog_by_bean" parameterType="Blog" resultType="Blog">
		select id,title,author_id as authorId from blog where id = #{id}
	</select>
	
	<update id="updateBlog_use_bean" statementType="PREPARED" parameterType="Blog">
		update blog set title=#{title}, author_id=#{authorId}  where id = #{id}
	</update>
	
	<delete id="deleteBlog_use_bean" statementType="PREPARED" parameterType="Blog">
		delete from blog where id = #{id}
	</delete>
	
	<!-- =======================自动生成主键=============================== -->
	<!-- 支持自动生成主键的数据库： -->
	<insert id="insertStudent" parameterType="Student" useGeneratedKeys="true" keyProperty="studId">
		INSERT INTO STUDENTS(STUDENT_ID,NAME, EMAIL, PHONE) VALUES(#{studId},#{name},#{email},#{phone})
	</insert>
	
	<!-- 不支持自动生成主键的数据库(如oracle的序列自增)： -->
	<insert id="insertBlog_use_bean" statementType="PREPARED" parameterType="Blog">
		<!-- 自动生成主键 -->
		<selectKey keyProperty="id" resultType="int" order="BEFORE">
			select max(id)+1 from blog
			<!-- select elearning.stud_id_seq.nextval from dual -->
		</selectKey>
		insert into blog values(#{id},#{title,jdbcType=VARCHAR},#{authorId})
	</insert>
	<!-- =======================自动生成主键=============================== -->
	
</mapper>